@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

.close{
    display: none;
}
.home .logo img{
    width: 130px;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 20px 0px;
    position: relative;
}  
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}  

/* .home ul li img{
    width: 20px;
} */

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 30px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 6px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    color: grey;
}
.footer a{
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 32, 32);
    height: 53px;
}
.header > *{
    padding: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.spotifyPlaylst{
    padding: 16px;
}
.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}
.card{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.7s;
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}
.card img {
    width: 100%;
    object-fit: contain;
}
.card > *{
    padding-top: 10px;

}
.spotifyPlaylst .card img{
    width: 160px;
    object-fit: contain;
}

.play {
    width: 37px;
    height: 35px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 88px;
    right: 15px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}
.signupbtn{
    background-color: black;
    color: rgb(156, 147, 147);
    cursor: pointer;
    border-radius: 25px;
    padding: 7px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 80px;
}
.signupbtn:hover{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.loginbtn{
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px;
    font-size: 16px;
    width: 80px;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 18px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    width: 70vw;
    padding: 12px;
    border-radius: 30px;
    height: 100px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seekbar{
    height: 4px;
    width: 68vw;
    background: rgb(3, 3, 3);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}
.songbuttons img {
    cursor: pointer;
}
.songbtns{
    /* bottom: 30px; */
    display: flex;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: -10px; */

}

.songlist{
    padding: 0 12px;
    height: 400px;
    overflow: auto;
    margin-bottom: 44px;
}
.songList ul{
    padding: 0 12px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 13px 0;
    border: 1px solid rgb(146, 143, 143,0.491);
    border-radius: 5px;
    margin: 12px 0px;
}
.songList .info{
    font-size: 13px;
    width: 340px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px 0;
}
.songbtns img{
    cursor: pointer;
}
.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
    font-weight: bolder;
}

.info div {
    word-break: break-all;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
    font-weight: bolder;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .volume:hover::after{
    content: "";
    cursor: pointer;
    filter: invert(1);
} */
.abovebar{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    width: 100%;
}
.range input{
    cursor: pointer;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
}



@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 321px;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }
}